.Dictionary section {
  background-color: #e0ffcd;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #2c786c;
  border-radius: 8px;
}
.Dictionary .FormParagraph {
  opacity: 0.8;
  font-size: 12px;
  margin-top: 10px;
}